<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/vue-router@4"></script>

<h1>VueJS route training</h1>


<div id="app">
  <p>
      <router-link to="/settings">settings</router-link> <br>
  </p>
  <p>
    <!-- use the router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- `<router-link>` will render an `<a>` tag with the correct `href` attribute
    -->
    <router-link to="/">Go to Home</router-link> <br>
    <router-link to="/about">Go to About</router-link> <br>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</div>

<script>

const Home = { template: '<div>Home</div>'  }
const About = { template: '<div>About</div>'  }
// const UserName = { template: '<div>User name: {{$route.params.userName}}</div>'  }
// const UserId = { template: '<div>User id: {{ $route.params.userId }}</div>'  }
const User = {
  template: `
    <div>
      User name: {{$route.params.user}} <br>
      <button @click="$router.back">go</button> <br>
      <button @click="$router.push({name: 'user', params: { user: 'jean' }})">go to /users/jean</button> <br>
      <button @click="$router.push({path: '/users/edouardo'})">go to /users/eduardo</button> <br>
      <router-view></router-view>
    </div>
  `  }

const UserSettings = { 
  template: `
    <div>
      <h2>User Settings</h2>
      <ul>
        <li><router-link to="/settings/profile">/settings/profile</router-link></li>
        <li><router-link to="/settings/emails" >/settings/emails </router-link></li>
      </ul>
      <router-view/>
      <router-view name="helper"/>
    </div>
  ` }

const UserProfilePreview = { template: `<div><p>User Profile Preview</p></div>` }
const UserProfile = { template: `<div><p>User Profile</p></div>` }

const UserMail = { template: `<div><p>Mail</p></div>` }
const UserPost = { template: '<div>Post</div>' }
const NotFound = { template: '<div>Not Found</div>'  }
const UserProfile2 = { template: `<div><p>User Profile</p></div>` }
const username = 'eduardo'

const routes = [
  { path: '/settings',
    component: UserSettings,
    children: [
     { path: 'emails',
       component: UserMail, },
     { path: 'profile',
       components: {
         default: UserProfile,
         helper: UserProfilePreview,
       },
     }
    ]
  },
  { path: '/', component: Home  },
  { path: '/about', component: About  },
  { path: '/users/:user',
    component: User,
    name: 'user',
    children: [
      {
        path: 'profile',
        component: UserProfile2,
      },
      {
        path: 'post',
        component: UserPost,

      }
    ]
  },
  { path: '/:pathMatch(.*)*', component: NotFound  },
  ]


const router = VueRouter.createRouter({
  history: VueRouter.createWebHashHistory(),
  routes, // short for `routes: routes`
  })

const app = Vue.createApp({})
app.use(router)

app.mount('#app')

// import moment from "moment"
// moment(value).format('YYYY-MM-DD')
</script>
</body>
</html>
