<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1>
    Consectetur illo tempore inventore!
</h1>
<div id="app">{{ message }}</div>

<script type="importmap">
  {"imports": {"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"}}
</script>
<script type="module">
  import { createApp } from 'vue'

  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#app')
</script>

</body>
</html>


