@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

/* on rst use `:id: implem-datamesh` to force a slide CSS */
#implem-datamesh { font-size: 18px; }
#enjeux-de-lactivite { font-size: 18px; }

:root {
    --primary: rgb(0,113,206);
    --secondary: rgb(130,150,230);
    /* --secondary: #6610f2; */
    /* --secondary: #ff0000; */
}

body {
    font-size: 150%;
    text-align: center;
    font-family: Libre Baskerville;
    /* font-family: monospace */
    /* background-color:  #aaa; */
}

.step {
    width: 1000px;
}

div#p-pad p{
    margin-bottom: 15px;
}

div#slide6 pre {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

div#slide6 p > :not(strong) {
    margin: 20px !important;
}

/* div#li-pad li { */
/*     padding-top: 0.5px !important; */
/*     padding-bottom: 0.5px !important */
/* } */

p {
    font-weight: normal;
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: left;
}


pre {
  font-family: monospace, monospace; /* 1 */
  text-align: left;
  font-size: 80%; /* 2 */
  margin-left: 40px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 6px 12px 6px 12px;
  background-color: #6b9baa12;
  border-radius: 15px;
}

strong {
    color: var(--primary);
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: left;
}

h1 {
    margin-bottom: .7em;
    border-bottom: .2rem solid var(--primary);
}

h2 {
    margin-left: .0em;
    margin-top: 1em;
    margin-bottom: .2em;
    color: var(--secondary);
    /* border-left: .2rem solid var(--primary); */
    /* padding-left: 1em; */
}

h3 {
    color: #a88;
    margin-top: 15px;
}

div#slide-number {
    position: absolute;
    top: 92%;
    right: 0.5em;
    font-size: 3vh;
    color: blue;
}

ul {
    list-style-position: inside;
}

table {
    border: inset var(--primary);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

table p{
    padding: 10px;
    text-align: center;
}

table th p{
    font-weight: bold;
}

li {
    /* font-family: serif; */
    font-weight: normal;
    margin-bottom: .8em;
    margin-top: .8em;
    padding-left: .1em;
    line-height: 1em;
    text-align: left;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

.header {
    background-image: url('https://www.mazars.fr/extension/ezmazars_rwdesign/design/mazars2020/images/mazars-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: right;
    opacity: .4;
}

.header p {
    justify-content: center;
    align-items: center;
    /* color: var(--secondary); */
}

.footer {
    /* border-top: .15rem solid var(--primary); */
    position: absolute;
    top: 95%;
    font-size: 80%;
    color: var(--secondary);
}
