body {
  background: #fff3e2;
  margin: 0;
}

.container {
  background: #fff3e2;
  width: 900px;
  margin: 0 auto;
}

header.banner {
  background-image: url(https://picsum.photos/seed/mario/900/150);
  background-size: cover;
  width: 900px;
  height: 150px;
}

nav li {
  display:inline-block;
  margin: 0px 10px 0px 10px;
}

li {
  font-size: 20px;
  margin-bottom: 8px;
}
nav.menu {
  padding: 5px;
  background: #ffe5ca;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ffe5ca;
}

aside {
  border-radius: 19px;
  background-color: #fa9884;
  border: 1px solid #fa9884;
  width: 250px;
  float: left;
  height: 922px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;

}

article.main {
  border: 1px solid #e74646;
  border-radius: 10px;
  height: 900px;
  width: 605px;
  margin: 0 0 0 262px;
  padding: 15px;
  background-color: #e74646;
}

footer {
  padding: 30px;
  background-color: #ffb4b4;
  border-radius: 10px;
}
