<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
  </head>
  <body>

    <!-- JS part -->
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

    <script type="module">

    import { createApp } from 'vue/dist/vue.esm-bundler.js';
    let id = 0

      createApp({
        data() {
          return {
            message: 'hello world',
            titleClass: 'title',
            titleclass_id: 'title_id',
            count1: 0,
            count2: 100,
            text: '',
            text_model:  '',
            awesome: true,
            newTodo: '',
            todos: [
            {id: id++, text: 'cook' },
            {id: id++, text: 'take a shower'},
            {id: id++, text: 'do homework'}
            ]
            }
          },
          methods: {
            onInput(e) { 
            // for : <input :value='text' @input='onInput'>
              this.text = e.target.value
            },
            increment1() {
              this.count1++
            },
            increment2() {
              this.count2--
            },
            toggle() {
              this.awesome  = !this.awesome // false > true ; true > false
            },
            addTodo() {
              this.todos.push({id: id++, text: this.newTodo})
              this.newTodo = ""
            },
            removetodo(todo) {
              this.todos = this.todos.filter((t) => t !== todo)
            }


          }
      }).mount("#app")

    </script>

    <!-- HTML part --> 
    <div class="container">
      <div id="app">

        <h1 :id='titleclass_id'> {{ message }} </h1>
        <h1 v-bind:class='titleClass'> {{ message }} </h1>

        <button @click='increment1'>  {{ count1 }} </button> 
        <button v-on:click='increment2'>  {{ count2 }} </button><br> <br> <br>

        <!-- need :value and @input -->
        <input :value='text' @input='onInput'>
        <p>{{text}}</p><br>
        <!-- need only v-model -->
        <input v-model='text_model'>
        <p>{{text_model}}</p><br>

        <button @click='toggle'>basculer de vrai à faux</button>

        <p v-if='awesome'>C'est vrai</p>
        <p v-else>C'est faux</p>

        <form @submit.prevent='addTodo'>
          <input v-model='newTodo'>
          <button>Appuyer pour ajouter</button>
        </form>
        <ul>
          <li v-for="todo in todos" :keys="todo.id">{{todo.text}}
          <button @click="removetodo(todo)">X</button>
          </li>
        </ul>
        
      </div>
    </div>
  </body>
</html>


