body {
  background: #f4f4f4;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 900px;
  background: #fff;
}

header.banner {
  background-image: url(https://picsum.photos/seed/mario/900/150);
  background-size: cover;
  width: 900px;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

nav.menu {
  padding: 15px 0 15px 0;
  background: #FFD4B2;
}

aside{
  float: left;
  border: 1px solid black;
  width: 178px;
  height: 698px;
  padding: 0 0 10px 10px;
}

article.main {
  border: 1px solid red;
  width: 658px;
  height: 698px;
  padding: 20px;
  margin: 0 0 0 200px;

}

footer {
  padding: 0 20px 0 20px;

}

