.block-img {
  padding: 0 !important;
  margin: 0 !important;
}


body {
  font-family: 'Lumanosimo', cursive !important;
}

.texte_titre {
  font-family: 'VT323', monospace !important ;
  font-size: 60px !important;
}

#TopSection {
  background-image: url(img/spaceship.png);
  background-size: 100%;
}

#final {
  background-color: #aaaa8e;
  padding: 10px;
  color: white;
}

.bc img {
  filtyer: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.bc img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.btn-primary.btn-custom {
  
  background-color: #6C668E;
  border-color: #6C668E;
}

.inline-ttext {
  margin-top: 55px; !important
}

.inline {
  display: inline;
}

.f-inter {
  background-color: #ccc;
}

.fw-light {
  color: white; !important
}

.font-challenge {
  background-color: #eee;
}

