@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

/* on rst use `:id: implem-datamesh` to force a slide CSS */
#implem-datamesh { font-size: 18px; }
#enjeux-de-lactivite { font-size: 18px; }

:root {
    --primary: rgb(0,113,206);
    --secondary: rgb(120,120,120);
}

body {
    font-size: 150%;
    text-align: center;
    font-family: Libre Baskerville;
}

.step {
    width: 1000px;
}

p {
    font-weight: normal;
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: left;
}

pre {
    text-align: left;
}

strong {
    color: var(--primary);
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: left;
}

h1 {
    margin-bottom: .7em;
    border-bottom: .2rem solid var(--primary);
}

h2 {
    margin-left: .0em;
    margin-top: 1em;
    margin-bottom: .2em;
    color: var(--secondary);
    /* border-left: .2rem solid var(--primary); */
    /* padding-left: 1em; */
}

tt {
    font-size: 125;
}

div#slide-number {
    position: absolute;
    top: 92%;
    right: 0.5em;
    font-size: 3vh;
    color: black;
}

ul {
    list-style-position: inside;
}

li {
    /* font-family: serif; */
    font-weight: normal;
    margin-bottom: .8em;
    margin-top: .8em;
    padding-left: .5em;
    line-height: 1em;
    text-align: left;
    line-height: 130%;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

.header {
    background-image: url('https://www.mazars.fr/extension/ezmazars_rwdesign/design/mazars2020/images/mazars-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: right;
    opacity: .4;
}

.header p {
    justify-content: center;
    align-items: center;
    /* color: var(--secondary); */
}

.footer {
    /* border-top: .15rem solid var(--primary); */
    position: absolute;
    top: 95%;
    font-size: 80%;
    color: var(--secondary);
}
