<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h1> vue with components files </h1>

<div id="app">{{ message }}</div>



<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="my-component.js"></script>
<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#app')
</script>

</body>
</html>
