h1 {
   font-weight:normal;
   color:gray
}

div p {
  color: #3a1078
}

div {
  /* border: 4px solid # ; */
  width: 75%;
  background: #ffd966;
  color: #dfa67b;
  float: center;
  border-radius: 10px;
  padding: 25px;
  margin: 45px;
}

#picture_container {
  border: 1px solid;
  width: 900px;
  margin: 0 auto; /* pour centrer: 0 */
}

#mon_img {
  /* pour lui dire de prendre 100% du container */

  /* width: 80%; */
  width: 100%;
}

#mon_img2 {
  width: 800px;
  height: 400px;
  background-image: url(https://picsum.photos/seed/luis/900/500);
  margin: 0 auto;
  margin-top: 10px

}

/* to search palet https://colorhunt.co/palette/fff2ccffd966f4b183dfa67b */
