div .toctree-wrapper.compound.toctree3cols_nested > ul > li > ul {
	column-count: 3;
    margin: 1;
}

div .toctree-wrapper.compound.toctree3cols > ul {
	column-count: 3;
    margin: 1;
}

ul .toctree-l1 {
    margin: 0;
    page-break-inside: avoid;
    break-inside: avoid-column;
}
