h2{
  color:#947159;
}

div{
  width: 75%;
  color:#867070;
  background: #FDF4F5;
  border-radius: 20px;
  margin: 10px 90px 10px 90px;
  /* margin: top right bottom left; */
  padding: 30px;
}

#img_container {
  width: 300px;
  border: 1px solid red;
  margin: 0 auto;
}

#mon_img {
  width: 100%;
}

#logo {
  background-image: url(https://picsum.photos/seed/luis3/100/100);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-top: 0;
  margin-bottom: 0;
}
